.app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto;
  gap: 10px;
  background-color: #e7f4ff;
  padding: 10px;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
nav{
  background-color: rgb(177, 255, 255);
  padding: 20px;
}
nav a{
  margin-right: 20px;
}